#price {
    .price-blk {
        display: block;
        @include overTab {
            display: flex;
        }
        
    }
    .price-item {
        width: 90%;
        border: solid 1px black;
        padding: 10px;
        margin-top: 30px;
        margin: 0 auto;
        @include overTab {
        width: calc(90% /3);
        height: 600px;
        padding: 0;
        }
        + .price-item {
            margin-top: 30px;
            @include overTab {
                margin: 0 0 0 30px;
            }
        }
    }

    .total-price {
        height: 230px;
        text-align: center;
        padding: 30px;
        border-bottom: 1px solid #c2c2c2;

        h3 {
            color: #a0b12c;
        }

        .sarvice-price::before {
            content: "前払い金";
        }

        .sarvice-price {
            span {
                font-size: 4rem;
                font-weight: bold;
            }
        }

        .sarvice {
            margin-top: 30px;
            color: white;
            background: #f28e1e;
        }
    }
    .price-list {
        .row {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            dt {
            }

            dd {
                font-weight: bold;
            }
        }

        .monthly-price {
            display: block;
            text-align: center;
        }

        .monthly-price::before {
            display: block;
            width: 90%;
            height: 2px;
            margin: 0 auto 10px;
            background: #c2c2c2;
            content: "";
        }
    }

    .oll-price {
        font-size: 3rem;
        font-weight: bold;
    }


}